@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.myBtn{
    font-family: Montserrat;
    font-weight: 800;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 35px;
    cursor: pointer;
}
.myBtn:hover{
    color:gray;
}