nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.btn-one {
    box-shadow: 2px 3px 0 #B6B6B6;
    transition: box-shadow 0.3s ease,background-color 0.3s ease;
    
}
.btn-two {
    box-shadow: 0px 3px 0 #B6B6B6;
    transition: box-shadow 0.3s ease,background-color 0.3s ease;
}
.btn-three {
    box-shadow: -2px 3px 0 #B6B6B6;
    transition: box-shadow 0.3s ease,background-color 0.3s ease;
}
.btn-one:hover {
    color: black;
    background-color: #dbdbdb;
    box-shadow: 2px 3px 0 white;
}
.btn-two:hover {
    color: black;
    background-color: #dbdbdb;
    box-shadow: 0px 3px 0 white;
}
.btn-three:hover {
    color: black;
    background-color: #dbdbdb;
    box-shadow: -2px 3px 0 white;
}