@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer{
    padding: 15px ;
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
    background-color: #5a9dc75f;
}